<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	<!-- 依赖注入  ：给service注入dao -->
	<bean id="userService" class="org.liliting.service.impl.UserServiceImpl">
		<property name="userMapper" ref="userMapper"></property>
	</bean>
	<bean id="petService" class="org.liliting.service.impl.PetServiceImpl">
		<property name="petMapper" ref="petMapper"></property>
	</bean>
	<bean id="adoptPetService" class="org.liliting.service.impl.AdoptPetServiceImpl">
		<property name="adoptPetMapper" ref="adoptPetMapper"></property>
	</bean>
	<bean id="leavingMessageService" class="org.liliting.service.impl.LeavingMessageServiceImpl">
		<property name="leavingMessageMapper" ref="leavingMessageMapper"></property>
	</bean>
	<bean id="searcherService" class="org.liliting.service.impl.SearcherServiceImpl">
		<property name="searcherMapper" ref="searcherMapper"></property>
	</bean>
	
	<!-- 数据源、mapper.xml -->
	<bean id="config" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="locations">
			<array>
				<value>classpath:db.properties</value>
			</array>
		</property>
	</bean>
	<!-- 配置数据库信息（替代mybatis的配置文件conf.xml） -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<!-- 配置数据库信息 -->
		<property name="driverClassName" value="${driver}"></property>
		<property name="url" value="${url}"></property>
		<property name="username" value="${username}"></property>
		<property name="password" value="${password}"></property>
	</bean>
	<!-- 配置MyBatis需要的核心类：sqlSessionFactory -->
	<!-- 在sprintIoc容器中创建mybatis的核心类sqlsessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<!-- 加载mybatis配置文件
			<property name="configLocation" value="classpath:conf.xml"></property>
		 -->
		 <property name="configLocation" value="classpath:mybatis-configuration.xml"></property>
		 <!--加载mapper.xml路径 -->
		 <property name="mapperLocations" value="classpath:org/liliting/mapper/*.xml"></property>
		 <!-- 给映射的类配置别名 -->  
        <!-- 默认的别名是model类的首字母小写 -->  
        <!-- 如：User实体类。别名为：user -->  
        <property name="typeAliasesPackage" value="org.liliting.entity" /> <!-- 这里配置model类别名 ，要支持多个以分号间隔-->
	</bean>
	
	<!-- mapper.xml -->
	
	<!-- Spring整合MyBatis:将MyBatis的SqlSessionFactory交给Spring -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
		<!-- 指定批量产生哪个包中的mapper对象 -->
		<property name="basePackage" value="org.liliting.mapper"></property>
		
	</bean>
	<!-- 定义事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">		
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- 开启事务控制的注解支持 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
