*{
	margin:0px;
	padding:0px;
	font-family: "微软雅黑";
}
a{
	display: block;
}
img,span{
	display: inline-block;
}
body{
	background-size: cover;
	position: relative;
}
a{
	transition: background-color 0.2s linear 0s;
    -moz-transition: background-color 0.2s linear 0s; /* Firefox 4 */
	-webkit-transition: background-color 0.2s linear 0s; /* Safari and Chrome */
 	-o-transition: background-color 0.2s linear 0s; /* Opera */
	text-decoration: none;
	color: #d7d7d7;
}
li{
	list-style:none;
	cursor: pointer;
}

.header{
	display:none;
	color: #a5a4a4;
	position: absolute;
	left:83%;
	top: 90px;
}
.header a:first-child{
	margin-right: 10px;
}
.header a:not(:first-child){
	margin-left: 10px;
}
.header a{
	display: inline-block;
	color: #a5a4a4;
}
.logo{
	width: 80%;
	margin: auto;
}
.logo img{
	width: 100%;
	height: 100px;
}
.nav{
	width: 80%;
	height: 50px;
	background: #616467;
	margin: auto;
	margin-top:10px;
}
.nav_left{
	width: 70%;
}
.nav_left ul li{
	color: #494949;
	width: 15%;
	height: 50px;
	font-size: 1em;
	text-align: center;
	line-height: 50px;
	float: left;
}
.nav_left ul li a:hover{
	color: white;
}
.nav_left ul li a.selecter{
	background-color: #000;
	color: white;
}
.nav_right{
	width: 20%;
	float: right;
}
.rank_ul{
	width: 200px;
	height: 50px;
	display: block;
	float: left;
	z-index: 1;
	position: absolute;
}
.inden,.rank_ul ul{
	display: none;
}
.inden,.rank_ul li{
	line-height: 50px;
	height: 50px;
	width: 200px;
	color: white;
	text-align: center;
}
.rank_ul li:first-child{
	text-align: right;
}
.rank_ul li:not(:first-child){
	background-color: #616467;
	display: none;
}
.rank_ul li:not(:first-child):hover{
	background-color: #000;
	color: white;
}
.head{
	width:35px;
	height:35px;
	vertical-align: middle;
	margin-right:15px;
	border-radius:25px;
}
.arrow{
	width: 15px;
	height: 15px;
	margin-left:20px;
	float: right;
	transform: rotate(-90deg);
	margin-top: 20px;
}
.content{
	width: 80%;
	height: 400px;
	margin: 5px auto;
	margin-top: 10px;
}
.con_left{
	width: 60%;
	position: relative;
	height: 400px;
	display: inline-block;
	overflow: hidden;
	margin-right: 1%;
}
.con_left img{
	width: 100%;
	height: 400px;
}
.con_left a{
	display: none;
	cursor:pointer;
}
#flash1{
	display: block;
}
.f_bar {
    width: 88px;
	height: 30px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -44px
}
.f_bar div{
	width: 14px;
    height: 14px;
    display: inline;
    float: left;
    overflow: hidden;
    margin: 2px 4px;
    cursor: pointer;
}
.f_bar .no {
    background: url(../images/yuandian.png) no-repeat 0px 0px;
}
.f_bar .sel {
    background: url(../images/yuandian.png) no-repeat 0px -12px;
}
.con_right{
	width: 39%;
	height: 400px;
	display: inline-block;
	vertical-align: top;
	margin-left: -5px;
}
.title{
	width:100%;
	height: 30px;
	border-bottom: 2px solid #d2d2d2;
	color: #a5a4a4;
}
.con_right li{
	height: auto;
	margin-top:10px;
	text-align: justify;
	text-justify: newspaper;
	word-break: break-all;
}
.banner{
	width:80%;
	margin:auto;
	margin-bottom: 10px;
}
.ban_left{
	width: 60%;
	padding-top:10px;
	background-color:rgba(225,225,225,0.4);
	float: left;
}
.baike{
	width:100%;
	height: 30px;
	border-bottom: 2px solid #d2d2d2;
	color: #a5a4a4;
}
.news{
	width:100%;
	height: auto;
}
.new_img{
	float: left;
	width: 15%;
	height: 100px;
	margin:0px 2% 10px 0px;
}
.news img{
	margin-top: 10px;
	width: 100%;
	height: 100px;
}
.new_con {
	float: right;
	width: 83%;
	margin: 10px 0px 10px 0px;
	height: 90px;
}
.new_title{
	height: 30px;
	color: #9e0000;
	font-size: 1.3em;
}
.new_con p{
	font-size: 0.8em;
	font-family: "宋体";
}
.ban_right{
	width: 39%;
	padding-top:10px;
	background-color:rgba(225,225,225,0.4);
	float: right;
}
.list p{
	font-size: 0.65em;
}
.list{
	display: block;
	border-bottom: 1px solid #b8b8b8;
}
.list_head{
	margin: 15px 20px 10px 10px;
	width: 40px;
	display: inline-block;
	text-align: center;
}
.list_head img{
	width: 40px;
	height: 40px;
	border-radius: 40px;
}
.list_head p{
	display: block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.list_context{
	display: inline-block; 
}
.desc{
	display: block;
	height: 40px;
	max-width:400px;
	font-size: 0.8em;
	padding-top: 10px;
	box-sizing: border-box;
	line-height: 10px;
}
.list_context p{
	color: #333;
}
.clear{
	clear:both
}
.footer{
	width:80%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-top: 2px solid #d2d2d2;
	margin:auto;
	color: #a5a4a4;
	font-family: "宋体";
	background-color:rgba(255,255,255,0.5);
	margin-top:15px;
}
.footer span{
	margin-left: 1em;
}