*{
	margin:0px;
	padding:0px;
	font-family: "微软雅黑";
}
a{
	display: block;
}
img,span{
	display: inline-block;
}
body{
	background-size: cover;
	position: relative;
}
a{
	transition: background-color 0.2s linear 0s;
    -moz-transition: background-color 0.2s linear 0s; /* Firefox 4 */
	-webkit-transition: background-color 0.2s linear 0s; /* Safari and Chrome */
 	-o-transition: background-color 0.2s linear 0s; /* Opera */
	text-decoration: none;
	color: #d7d7d7;
}
li{
	list-style:none;
	cursor: pointer;
}

.header{
	display:none;
	color: #a5a4a4;
	position: absolute;
	left:83%;
	top: 90px;
}
.header a:first-child{
	margin-right: 10px;
}
.header a:not(:first-child){
	margin-left: 10px;
}
.header a{
	display: inline-block;
	color: #a5a4a4;
}
.logo{
	width: 80%;
	margin: auto;
}
form span i{
	color:red;
	margin-right: 10px;
}
.logo img{
	width: 100%;
	height: 100px;
}
.nav{
	width: 80%;
	height: 50px;
	background: #616467;
	margin: auto;
	margin-top:10px;
}
.nav_left{
	width: 70%;
}
.nav_left ul li{
	color: #494949;
	width: 15%;
	height: 50px;
	font-size: 1em;
	text-align: center;
	line-height: 50px;
	float: left;
}
.nav_left ul li a:hover{
	color: white;
}
.nav_left ul li a.selecter{
	background-color: #000;
	color: white;
}
.nav_right{
	width: 20%;
	float: right;
}
.rank_ul{
	width: 200px;
	height: 50px;
	display: block;
	float: left;
	z-index: 1;
	position: absolute;
}
.inden{
	display: block;
}
.inden,.rank_ul li{
	line-height: 50px;
	height: 50px;
	width: 200px;
	color: white;
	text-align: center;
}
.rank_ul li:first-child{
	text-align: right;
}
.rank_ul li:not(:first-child){
	background-color: #616467;
	display: none;
}
.rank_ul li:not(:first-child):hover{
	background-color: #000;
	color: white;
}
.head{
	width:35px;
	height:35px;
	vertical-align: middle;
	margin-right:15px;
	border-radius:25px;
}
.arrow{
	width: 15px;
	height: 15px;
	margin-left:20px;
	float: right;
	transform: rotate(-90deg);
	margin-top: 20px;
}
.content{
	width: 60%;
	margin:auto;
}
h1{
	font-size: 1em;
	font-weight: normal;
	background-color:#e6e6e6;
	border: 1px solid #d4d4d4;
	margin: 15px 0 15px 0px;
	padding-left: 25px;
	height: 40px;
	line-height: 40px;
	box-sizing:border-box;
}
.content span{
	background-color: #fbfbfb;
	display: inline-block;
	width: 20%;
	margin-bottom: 15px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	border: 1px solid #d4d4d4;
	color: #6c6c6c;
	box-sizing:border-box;
}
.content input{
	float: right;
}
select,.content input{
	margin:0px;
	width:80%;
	height: 40px;
	line-height: 40px;
	box-sizing:border-box;
	border: 1px solid #d4d4d4;
	border-left: none;
	
}
div select{
    width: 20%;
    vertical-align: top;
    margin-left: -5px;
}
#upload_pic {
    opacity: 0;
	z-index: 1;
	position: absolute;
	cursor: pointer;
	width: 40px;
	margin-left: 5px;
	border: none;
}
form{
	position: relative;
}
#file_photo{
	width: 40px;
	position: absolute;
	height: 30px;
	margin-top: 5px;
}

span.file_name {
    background: #fff;
    display: inline-block;
    border: 1px solid #d4d4d4;
    margin-left: -5px;
    width: 40%;
    font-size: 0.9em;
    text-align: left;
	padding-left: 70px;
	color: #ff3b3b;
	vertical-align: top;
}
.content .btnsend{
	float: left;
	border-left: 1px solid #d4d4d4;
	width: 20%;
	background-color: #3977af;
	cursor: pointer;
	border-radius: 20px;	
	color: #f0f0f0;	
	font-size: 1em;
}
.clear{
	clear:both
}
.footer{
	width:80%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-top: 2px solid #d2d2d2;
	margin:auto;
	color: #a5a4a4;
	font-family: "宋体";
	left:10%;
	position: fixed;
	bottom: 0;
	background-color:rgba(255,255,255,0.5);
}
.footer span{
	margin-left: 1em;
}
.sDesc{
	vertical-align: top;
	box-sizing:border-box;
	border: 1px solid #d4d4d4;
	width: 80%;
	height: 120px;
	line-height: 40px;
	margin-bottom: 15px;
}
.hidden{
	display: none;
}