.icon_user{
	transform: rotate(-90deg);
}
.nav_item ul#ul_user{
	display: block;
}
.two_ul li{
	background: none;
}
.user_list_a{
	background: #c84200;
}
.con{
	min-height: 350px;
	border: 1px solid #299366;
	margin: 10px 20px 15px 20px; 
}
.con_nav{
	line-height: 50px;
	padding-left: 15px;
	color: #807979;
	border-bottom: 1px solid #d3b9b9;
}
.con input{
	width: 200px;
	height: 35px;
	box-sizing: border-box;
	padding-left: 10px;
	border: 1px solid #b3b3b3;
	color: #8f8f8f;
	margin-left: 10px;
}
.search{
	height: 35px;
	position: relative;
	margin-top: 15px;
}
.con input.search_a{
	box-sizing: border-box;
	display: inline-block;
	width: 100px;
	vertical-align: middle;
	background-color: #d70000;
	text-align: center;
	line-height: 35px;
	color:#fff;
	cursor:pointer;
}
table{
	table-layout:fixed;
	word-break:break-all;
}
#userInfo{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse:collapse;
    margin: 10px 10px 10px 10px;
    table-layout: fixed;
}
#userInfo td, #userInfo th{  
    font-size:1em;  
   	border: 1px solid #b3b3b3; 
    text-align: center;
    width:8%;
}
#userInfo th{  
	font-size: 1.1em;
	background-color: #007e93;
	color: #ffffff;
	height: 40px;
	width: 150px;
	text-align: center;
}
#userInfo td{
	height: 40px;
	color: #808080;
}
#userInfo tr.alt td{  
    color:#462020; 
    text-align: center;  
}
#userInfo tr.alt td.zhuangtai{
	color: red;
}
.title{
    height: 45px;
    color: #b31b1b;
	font-size: 18px;
}
#pic_img{
	width: 40px;
	height: 40px;
	border-radius: 40px;
	vertical-align: middle;
	margin: 5px 0;
}
td.operation input{    
	width: 40px;
	height: 30px;
    display: inline-block;
    margin: 0;
	padding: 0;
	color: #000;
	background-color: #fff;
	cursor: pointer;
}
td.operation .btn_update{
	margin-right: 2px;
}
.page{
	height: 100%;
    text-align: center;
    width: 80%;
    font-size: 14px;
    margin: 20px 0 0px 0;
    padding-bottom: 15px;
}
.page span{
	margin:0 10px 0 10px;
	
}
.page a{
	display:inline-block;
	color:#333;
}
.page span i {
    color: #fd5b5b;
    margin-right: 4px;
}
.sel_page {
    width: 40px;
    border: 1px solid #19bec6;
    color: #09c6a2;
    font-weight: bold;
}
#nextPage {
    margin: 0 5px;
}